---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import avatar from "../../public/assets/avatar.png";
import "../base.css";
---

<Layout title="Digified">
	<main>
		<section class="flex w-full items-center justify-evenly">
			<div class="relative h-96 w-full">
				<video
					autoplay
					loop
					muted
					disablepictureinpicture
					class="absolute inset-0 h-full w-full object-cover"
					aria-hidden="true"
				>
					<source src="assets/showcase.mp4" type="video/mp4" />
					<p>Background video showcase</p>
				</video>

				<div
					class="absolute inset-0 bg-gradient-to-b from-transparent to-black"
				>
				</div>

				<div
					class="absolute inset-0 m-10 flex flex-row flex-wrap items-center justify-center"
				>
					<Image
						src={avatar}
						alt="avatar"
						class="inline-flex h-40 w-40 rounded-full object-cover shadow-[0_4px_6px_rgba(0,0,0,0.5)]"
						loading="eager"
					/>

					<div class="m-6 p-2 inline-block">
						<h1
							class="text-center text-3xl font-semibold text-white drop-shadow-[0_4px_6px_rgba(0,0,0,0.5)]"
						>
							Hi! I'm Joran
						</h1>
						<p
							class="text-center text-xl text-gray-400 drop-shadow-[0_4px_6px_rgba(0,0,0,0.5)]"
						>
							I like making things
						</p>
					</div>
				</div>
			</div>
		</section>
		<ul
			role="list"
			class="flex flex-row flex-wrap items-stretch justify-center gap-8"
		>
			<Card
				href="/projects"
				title="I WRITE SOFTWARE"
				body="I've written a wide variety of software, often from scratch. This has made me feel comfortable adapting and combining diverse technologies, from data transformation in Python to keyboard emulation on a calculator in C and much more."
				button_txt="PROJECTS"
				icon="/icons/package.svg"
			/>
			<Card
				href="/gallery"
				title="I CREATE GRAPHICS"
				body="I like to make make interesting 3D graphics. I've modelled VR environments, sculpted 3D characters, and also done animation. Because I'm familiar with a lot of the technical theory behind 3D, I've been able to push my art in novel ways."
				button_txt="GALLERY"
				icon="/icons/image.svg"
			/>
			<Card
				href="/contact"
				title="I SOLVE PROBLEMS"
				body="I'm passionate about using technology to solve problems and I'm always looking for new opportunities to apply my skills. Got a question or proposal? Then feel free to get in touch."
				button_txt="CONTACT"
				icon="/icons/community.svg"
			/>
		</ul>
	</main>
</Layout>
