---
import { Image } from "astro:assets";
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import avatar from "../../public/assets/avatar.png";
import "../base.css";
---

<Layout title="Digified">
	<main>
		<section class="flex items-center justify-evenly w-full">
			<div class="relative w-full h-96">
				<video
					autoplay
					loop
					muted
					disablepictureinpicture
					class="absolute inset-0 w-full h-full object-cover"
					aria-hidden="true"
				>
					<source src="assets/showcase.mp4" type="video/mp4"/>
					<p>Background video showcase</p>
				</video>

				<div
					class="absolute inset-0 bg-gradient-to-b from-transparent to-black"
					
				>
				</div>

				<div
					class="absolute inset-0 flex flex-row m-10 items-center justify-center flex-wrap"
				>
					<Image
						src={avatar}
						alt="avatar"
						class="w-40 h-40 inline-flex rounded-full shadow-[0_4px_6px_rgba(0,0,0,0.5)] object-cover"
						loading="eager"
					/>

					<div
						class="m-6 p-2 inline-block "
					>
						<h1 class="font-semibold text-3xl text-center text-white drop-shadow-[0_4px_6px_rgba(0,0,0,0.5)]">
							Hi! I'm Joran
						</h1>
						<p class="text-xl text-center text-gray-400 drop-shadow-[0_4px_6px_rgba(0,0,0,0.5)]">
							I like making things
						</p>
					</div>
				</div>
			</div>
		</section>
		<ul
			role="list"
			class="flex flex-row justify-center flex-wrap items-stretch gap-14"
		>
			<Card
				href="/projects"
				title="I WRITE SOFTWARE"
				body="I've written a wide variety of software, often from scratch. This has made me feel comfortable adapting and combining diverse technologies, from data transformation in Python to keyboard emulation on a calculator in C and much more."
				button_txt="PROJECTS"
				icon="/icons/package.svg"
			/>
			<Card
				href="/gallery"
				title="I CREATE GRAPHICS"
				body="I like to make make interesting 3D graphics. I've modelled VR environments, sculpted 3D characters, and also done animation. Because I'm familiar with a lot of the technical theory behind 3D, I've been able to push my art in novel ways."
				button_txt="GALLERY"
				icon="/icons/image.svg"
			/>
			<Card
				href="/contact"
				title="I SOLVE PROBLEMS"
				body="I want to use technology to solve problems. I am convinced cross-domain knowledge is one of the keys to finding better ways to solve problems and new opportunities, nothing exists in a vacuum."
				button_txt="CONTACT"
				icon="/icons/community.svg"
			/>
		</ul>
	</main>
</Layout>
