---
interface Props {
    title: string;
    body: string;
    href: string;
    button_txt: string;
}

const { href, title, body, button_txt } = Astro.props;
---

<li class="max-w-72 p-6 flex flex-col justify-between">
    <h1 class="text-xl text-center my-2 font-extrabold">{title}</h1>
    <p class="text-center dark:text-gray-400 text-gray-500 my-6">{body}</p>
    <a class="font-semibold m-2 block bg-gray-600 text-white text-center p-2 rounded-xl" href={href}>{button_txt}</a>
</li>