---
interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="en">
	<head>
		<title>{title}</title>
		<meta charset="utf-8" />
		<meta name="description" content="Astro description" />
		<meta
			name="viewport"
			content="width=device-width, initial-scale=1.0, maximum-scale=1"
		/>
		<link rel="icon" type="image/png" href="/favicon.png" />
		<meta name="generator" content={Astro.generator} />
	</head>
	<body>
		<header class="mb-2">
			<nav
				class="p-3 my-5 sm:my-0 flex items-center justify-evenly sm:justify-between flex-wrap place-items-center"
			>
				<a aria-label="Homepage" class="p-1 mx-1" href="/">
					<img
						width="180"
						height="63"
						class="dark:invert"
						src="assets/logo.svg"
						aria-label="digified"
						alt="Logo Digified"
					/>
				</a>
				<ul
					class="flex font-bold items-center gap-3 sm:gap-5 m-2 dark:text-white"
				>
					<a href="/projects">PROJECTS</a>
					<a href="/gallery">GALLERY</a>
					<a href="/contact">CONTACT</a>
				</ul>
			</nav>
		</header>
		<slot />
		<footer class="flex flex-col my-10 items-center">
			<h2 class="inline-block my-4 text-xl font-bold">Socials</h2>
			<div id="socials" class="flex justify-center gap-4">
				<a href="https://x.com/Powerbyte7" title="Powerbyte7 on X">
					<img src="/icons/x.svg" width="40" height="40" class="inline-block dark:invert" alt="logo X" loading="lazy">
				</a>
				<a href="https://www.youtube.com/@Powerbyte7" title="Powerbyte7 on YouTube">
					<img src="/icons/youtube.svg" width="40" height="40" class="inline-block dark:invert" alt="logo YouTube" loading="lazy">
				</a>
				<a href="https://www.github.com/Powerbyte7" title="Powerbyte7 on Github">
					<img src="/icons/github.svg" width="40" height="40" class="inline-block dark:invert" alt="logo Github" loading="lazy">
				</a>
			</div>
		</footer>
	</body>
</html>
